.paginator{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.paginator span{
    margin-left: 10px;
    cursor: pointer;
    padding: 5px;
}
.page{
    border: 1px solid grey;
}
.selected{
    font-weight: bold;
    color: blue;
}
button{
    padding: 8px 15px;
    background: #b18c38;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;

}
.next{
    margin-left: 10px;
}
.prev{
    margin-right: 10px;
}